sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
before_install:
  - npm i -g npm@^3.0.0
install:
  - npm i
  - npm install -g codecov
before_script:
  - npm prune
script:
  - npm test -- --coverage
  - codecov
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
