:root {
  --sidebar-width: 40px;
  --dock-width: 320px;
  --wide-dock-width: 640px;

  --cb: #2389c9;
  --cb-light: #97cced; /** increased (HS)L by 30% */
  --cb-dark1: #185c86; /** decreased (HS)L by 15% */
  --cb-dark2: #0c2f45; /** decreased (HS)L by 30% */
}

/** Font reset for specific things */
html,
body,
#root,
.tooltip {
  font-size: 12px;
}

/** Custom cross platform scrollbar colors */
.simplebar-scrollbar::before {
  background-color: #ddd;
}

.DEV {
  outline: 0.5px solid rgba(255, 0, 0, 0.5);
  outline-offset: 4px;
  display: none;
}

.disableAndDim {
  opacity: 0.4;
  pointer-events: none;
}

a,
.link {
  cursor: pointer;
  color: var(--cb);
  text-decoration: none;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--cb-dark1);
  outline: none !important;
}

ul,
ol {
  padding-left: 20px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.InnerDock {
  position: relative; /* prevents overflow from react-select */
  overflow-x: hidden;
  overflow-y: auto;
  width: var(--dock-width);
  padding-bottom: 12px;
}

.Analysis {
  min-height: 500px;
}

.DirectionIcon {
  pointer-events: none;
}

.DaysOfService-active {
  color: black;
}

.DaysOfService-inactive {
  color: #ccc !important;
  text-decoration: line-through;
}

.MiniMap-northArrow {
  font-size: 18px;
  position: absolute;
  z-index: 10000;
}

/** Leaflet Tooltips */
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  display: none;
}

.all-copy {
  -webkit-user-select: all; /* Chrome all / Safari all */
  -moz-user-select: all; /* Firefox all */
  -ms-user-select: all; /* IE 10+ */
  user-select: all; /* Likely future */
}

/*
 * react-leaflet is silly, you have to manually style the divs it creates
 * https://github.com/PaulLeCam/react-leaflet/blob/master/example/index.html
 * https://github.com/PaulLeCam/react-leaflet/issues/108
 */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.CircleIconMarker {
  border-radius: 50%;
  background-color: #2389c9;
}

.CircleIconMarker.newSnappedStop {
  background-color: #364046;
}

.CircleIconMarker.newStop > div,
.CircleIconMarker.newSnappedStop > div {
  background-color: #fff;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  position: absolute;
}
