/*
 * react-leaflet is silly, you have to manually style the divs it creates
 * https://github.com/PaulLeCam/react-leaflet/blob/master/example/index.html
 * https://github.com/PaulLeCam/react-leaflet/issues/108
 */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.CircleIconMarker {
  border-radius: 50%;
  background-color: #2389c9;
}

.CircleIconMarker.newSnappedStop {
  background-color: #364046;
}

.CircleIconMarker.newStop > div,
.CircleIconMarker.newSnappedStop > div {
  background-color: #fff;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  position: absolute;
}

.NoPointerEvents {
  pointer-events: none;
}
